<h2 class="title h1 text-center mb-3">My <span class="text-red">Portfolio</span></h2>
<div class="row justify-content-center align-items-center">
    <div style="background-color: #ffedf2" class="search-project mb-4">
        <ul>
            <li class="text-red">All Projects</li>
            <li class="text-red">Web Development</li>
            <li class="text-red">Mobile App</li>
            <li class="text-red">Software</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="card-project col-lg-4">
        <img class="w-85" src="./../../../assets/img/project-example.png" alt="">
        <h5 class="h6 mt-2">Web Design</h5>
        <h4 class="h5 font-weight-bold">Mobile App landing design</h4>
    </div>
    <div class="card-project col-lg-4">
        <img class="w-85" src="./../../../assets/img/project-example.png" alt="">
        <h5 class="h6 mt-2">Web Design</h5>
        <h4 class="h5 font-weight-bold">Mobile App landing design</h4>
    </div>
    <div class="card-project col-lg-4">
        <img class="w-85" src="./../../../assets/img/project-example.png" alt="">
        <h5 class="h6 mt-2">Web Design</h5>
        <h4 class="h5 font-weight-bold">Mobile App landing design</h4>
    </div>
    <div class="card-project col-lg-4">
        <img class="w-85" src="./../../../assets/img/project-example.png" alt="">
        <h5 class="h6 mt-2">Web Design</h5>
        <h4 class="h5 font-weight-bold">Mobile App landing design</h4>
    </div>
    <div class="card-project col-lg-4">
        <img class="w-85" src="./../../../assets/img/project-example.png" alt="">
        <h5 class="h6 mt-2">Web Design</h5>
        <h4 class="h5 font-weight-bold">Mobile App landing design</h4>
    </div>
    <div class="card-project col-lg-4">
        <img class="w-85" src="./../../../assets/img/project-example.png" alt="">
        <h5 class="h6 mt-2">Web Design</h5>
        <h4 class="h5 font-weight-bold">Mobile App landing design</h4>
    </div>
</div>