<h2 class="title h1 text-center">What I <span class="text-red">Do?</span></h2>
<p class="text-center">I can build any type of website and solve any Bug issue.</p>
<div class="row mt-5">
    <div class="card-do col-lg-4">
        <i class="bi bi-file-earmark-code-fill h0 text-red d-block text-center"></i>
        <h4 class="h4 text-center font-weight-bold">Full Website creation</h4>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, rerum modi adipisci
            reiciendis
            officia
            dolorum
            sunt a sequi am.</p>
    </div>
    <div class="card-do col-lg-4">
        <i class="bi bi-cart3 h0 text-red d-block text-center"></i>
        <h4 class="h4 text-center font-weight-bold">Online store & shopping</h4>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, rerum modi adipisci
            reiciendis
            officia
            dolorum
            sunt a sequi am.</p>
    </div>
    <div class="card-do col-lg-4">
        <i class="bi bi-bug-fill h0 text-red d-block text-center"></i>
        <h4 class="h4 text-center font-weight-bold">Bug & Error Fixing</h4>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, rerum modi adipisci
            reiciendis
            officia
            dolorum
            sunt a sequi am.</p>
    </div>
</div>
<div class="row mb-5">
    <div class="card-do col-lg-6">
        <i class="bi bi-file-image-fill h0 text-red d-block text-center"></i>
        <h4 class="h4 text-center font-weight-bold">PSD to Code</h4>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, rerum modi adipisci
            reiciendis
            officia
            dolorum
            sunt a sequi am.</p>
    </div>
    <div class="card-do col-lg-6">
        <i class="bi bi-lightning-fill h0 text-red d-block text-center"></i>
        <h4 class="h4 text-center font-weight-bold">Maintenance</h4>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, rerum modi adipisci
            reiciendis officia
            dolorum
            sunt a sequi am.</p>
    </div>
</div>