
<div style="background-color: #f5f5f5">
    <nav class="navbar navbar-expand-lg navbar-light mb-3" style="position: fixed; background-color: #f5f5f5; width: 100%; z-index: 99">
        <a class="navbar-brand mx-5 title" [routerLink]="'.'" (click)="onClick('home')"><i class="bi bi-laptop"></i> Camilo Sanchez</a>  
        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
            &#9776;
        </button>
    
        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse my-3">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link font-weight-bold text-red" [routerLink]="'.'" (click)="onClick('home')">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" [routerLink]="'.'" (click)="onClick('whatido')">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" [routerLink]="'.'" (click)="onClick('services')">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" [routerLink]="'.'" (click)="onClick('portfolio')">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" [routerLink]="'.'" (click)="onClick('resume')">Resume</a>
                </li>
                <li class="nav-item mx-3" style="border:1px solid gray; border-radius: 5px">
                    <a class="nav-link font-weight-bold" [routerLink]="'.'" (click)="onClick('contact')">Let's Talk!</a>
                </li>
            </ul>
        </div>
    </nav>
    <section id="home">
        <div style="height:100vh" class="row d-flex justify-content-center align-items-center py-5 mx-0">
            <div class="col-lg-5 d-flex justify-content-center align-items-center">
                <img src="../../../assets/img/test.png" id="img-logo"/>
            </div>
            <div class="col-lg-7 d-flex flex-column justify-content-start align-items-start">
                <p class="title h0 font-weight-bold">Hi, I'm Camilo Sanchez</p>
                <p class="title h0 font-weight-bold text-red">Full Stack Web Developer</p>
            </div>
        </div>
    </section>
</div>
<div class="container">
    
    <section id="whatido" style="min-height: 100vh; padding-top: 150px">
        <app-about></app-about>
    </section>
    <section class="my-5 my-5 d-flex justify-content-center align-items-center flex-column" id="services" style="min-height: 100vh;">
        <app-services></app-services>
    </section>
    <section id="portfolio" style="min-height: 100vh; padding-top: 100px">
        <app-portfolio></app-portfolio>
    </section>
    <section class="my-5 my-5 d-flex flex-column justify-content-center align-items-center" id="resume" style="min-height: 100vh;">
        <app-resume></app-resume>
    </section>
    <section class="my-5 d-flex flex-column justify-content-center align-items-center" id="contact" style="min-height: 100vh;">
        <app-contact class="w-100"></app-contact>
    </section>
</div>
<footer class="bg-dark py-5">
    <p class="text-light text-center">Camilo Sanchez - 2021</p>
</footer>
