<section class="home-card w-100 mb-5">
    <div class="header-card w-100 border border-primary d-flex flex-row justify-content-between">
        <div class="image d-none d-md-flex col-md-4 justify-content-center">
            <img class="w-75" src="../assets/web-portfolio.png" />
        </div>
        <div class="text text-light col-xs-12 col-md-8 d-flex justify-content-center flex-column align-items-center">
            <h1>Camilo Sanchez</h1>
            <h2 class="h5-sm">Full Stack Web Developer</h2>
        </div>

    </div>
    <div class="content-card row mx-3 my-5 d-flex align-items-center justify-content-center">
        <div class="aboutme col-md-6">
            <h3>About <span class="text-primary">me</span></h3>
            <p>Hello! I’m Camilo Sanchez. I am a full stack web developer with experience. I can create websites with
                best practices and perform maintenance.</p>
            <div class="icons mb-3 w-100 d-flex flex-row justify-content-center align-items-center">
                <a class="mr-5 mt-3" title="GitHub" href="https://github.com/camilosanchezdev"><i
                        class="devicon-github-original-wordmark"></i></a>
                <a class="text-center" title="Portfolio" routerLink="portfolio"><i class="bi bi-briefcase"></i></a>
            </div>
        </div>
        <div class="resume col-md-6">
            <ul>
                <li>Age: 26</li>
                <li>Residence: Tucumán, Argentina</li>
                <li>Email: camilosanchezdev@gmail.com</li>
                <li>Freelance: Available</li>
            </ul>
        </div>

    </div>


</section>