<section class="w-100 d-flex flex-column mt-5 justify-content-center">
    <h2 class="text-light text-center">Portfolio</h2>
    <div class="navegacion w-100 mb-4 d-flex justify-content-center">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarPortfolio"
                aria-controls="navbarPortfolio" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarPortfolio">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active mr-4">
                        <a class="nav-link" href="#">All <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item mr-4">
                        <a class="nav-link" href="#">Web Development</a>
                    </li>
                    <li class="nav-item mr-4">
                        <a class="nav-link" href="#">Software</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            By language
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">C#</a>
                            <a class="dropdown-item" href="#">JavaScript</a>
                            <a class="dropdown-item" href="#">PHP</a>
                        </div>
                    </li>
                </ul>
        
            </div>
        </nav>
    </div>
    <div class="cards flex-wrap w-100 d-flex flex-row justify-content-center">
        <div class="card bg-dark mb-5 mr-4 ml-4 rounded" style="width: 18rem;">
            <img class="card-img-top" src="http://droitthemes.com/html/wavee/img/case_one/case_pr_one.jpg" alt="Card image cap">
            <div class="card-button pt-1 pb-1">
                <h5 class="card-title text-light text-center mb-1">Tasks</h5>
                <p class="text-light text-center mb-1">Angular</p>
            </div>
        </div>
        <div class="card bg-dark mb-5 mr-4 ml-4 rounded" style="width: 18rem;">
            <img class="card-img-top" src="http://droitthemes.com/html/wavee/img/case_one/case_pr_two.jpg" alt="Card image cap">
            <div class="card-button pt-1 pb-1">
                <h5 class="card-title text-light text-center mb-1">Tasks</h5>
                <p class="text-light text-center mb-1">ASP Net Core</p>
            </div>
        </div>
        <div class="card bg-dark mb-5 mr-4 ml-4 rounded" style="width: 18rem;">
            <img class="card-img-top" src="http://droitthemes.com/html/wavee/img/case_one/case_pr_four.jpg" alt="Card image cap">
            <div class="card-button pt-1 pb-1">
                <h5 class="card-title text-light text-center mb-1">Tasks</h5>
                <p class="text-light text-center mb-1">PHP</p>
            </div>
        </div>
        <div class="card bg-dark mb-5 mr-4 ml-4 rounded" style="width: 18rem;">
            <img class="card-img-top" src="http://droitthemes.com/html/wavee/img/case_one/case_pr_seven.jpg" alt="Card image cap">
            <div class="card-button pt-1 pb-1">
                <h5 class="card-title text-light text-center mb-1">Tasks</h5>
                <p class="text-light text-center mb-1">React</p>
            </div>
        </div>
        <div class="card bg-dark mb-5 mr-4 ml-4 rounded" style="width: 18rem;">
            <img class="card-img-top" src="http://droitthemes.com/html/wavee/img/case_one/case_pr_seven.jpg" alt="Card image cap">
            <div class="card-button pt-1 pb-1">
                <h5 class="card-title text-light text-center mb-1">Tasks</h5>
                <p class="text-light text-center mb-1">JavaScript</p>
            </div>
        </div>
        <div class="card bg-dark mb-5 mr-4 ml-4 rounded" style="width: 18rem;">
            <img class="card-img-top" src="http://droitthemes.com/html/wavee/img/case_one/case_pr_nine.jpg" alt="Card image cap">
            <div class="card-button pt-1 pb-1">
                <h5 class="card-title text-light text-center mb-1">Tasks</h5>
                <p class="text-light text-center mb-1">Node JS</p>
            </div>
        </div>
        <!-- <div class="card bg-dark mb-5 mr-4 ml-4" style="width: 18rem;">
            <img class="card-img-top" src="http://droitthemes.com/html/wavee/img/case_one/case_pr_two.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-light">Password Generator</h5>
                <a href="#" class="btn btn-success w-100">View</a>
            </div>
        </div>
        <div class="card bg-dark mb-5 mr-4 ml-4" style="width: 18rem;">
            <img class="card-img-top" src="http://droitthemes.com/html/wavee/img/case_one/case_pr_three.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-light">Card title</h5>
                <a href="#" class="btn btn-success w-100">View</a>
            </div>
        </div>
        <div class="card bg-dark mb-5 mr-4 ml-4" style="width: 18rem;">
            <img class="card-img-top" src="http://droitthemes.com/html/wavee/img/case_one/case_pr_four.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-light">Card title</h5>
                <a href="#" class="btn btn-success w-100">View</a>
            </div>
        </div>
        <div class="card bg-dark mb-5 mr-4 ml-4" style="width: 18rem;">
            <img class="card-img-top" src="http://droitthemes.com/html/wavee/img/case_one/case_pr_seven.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-light">Card title</h5>
                <a href="#" class="btn btn-success w-100">View</a>
            </div>
        </div>
        <div class="card bg-dark mb-5 mr-4 ml-4" style="width: 18rem;">
            <img class="card-img-top" src="http://droitthemes.com/html/wavee/img/case_one/case_pr_nine.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-light">Card title</h5>
                <a href="#" class="btn btn-success w-100">View</a>
            </div>
        </div> -->
    </div>
</section>