.section-contact {
  min-height: 100vh;
}
.card {
  background-color: #2196f3;
  background-image: url("./../../../assets/header-bg.png");
  background-size: 100%;
  height: 30%;
  cursor: pointer;
}
.card i {
  font-size: 50px;
}
.card:hover .text p {
  color: white !important;
  transition: color 0.5s ease;
}
.contact-cards a:hover {
  text-decoration: none;
}
.container-spinner {
  background: black;
  width: 100%;
  height: 100%;
  display: block;
}
#spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#spinner::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.53);
}
.home-card {
  border-radius: 20px;
  box-shadow: 0 15px 25px 0 rgb(0 0 0 / 10%);
  min-height: 100vh;
}
.header-card {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  min-height: 30vh;
  background-color: #2196f3;
  background-image: url("./../../../assets/header-bg.png");
  background-size: 100%;
}

@media (max-width: 1000px) {
  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-main {
    margin-bottom: 50px;
    max-width: 100%;
  }
  .container {
    height: 100% !important;
  }
  .contact-cards {
    max-width: 100%;
  }
  .contact-cards .card {
    margin: 10px;
    padding: 10px;
  }
}
@media (max-width: 550px) {
  .contact-cards i {
    margin-left: 1rem !important;
  }
}
