/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeng/resources/themes/saga-green/theme.css";

body {
  background: rgb(52, 58, 64);
  background: linear-gradient(
    180deg,
    rgba(52, 58, 64, 1) 0%,
    rgba(57, 68, 79, 1) 35%,
    rgba(63, 76, 89, 1) 100%
  );
  font-family: "Roboto", sans-serif;
}
.p-carousel-prev {
  background-color: white !important;
  color: black !important;
}
.p-carousel-prev::after {
  content: "<";
}
.p-carousel-next {
  background-color: white !important;
  color: black !important;
}
.p-carousel-next::after {
  content: ">";
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
