@import "~bootstrap-icons/font/bootstrap-icons.css";
/* You can add global styles to this file, and also import other style files */
body {
  background-color: #ffffff;
  /* background-color: #f5f5f5; */
}
html {
  scroll-behavior: smooth;
}
.title {
  font-family: "Roboto", sans-serif;
}
.text-red {
  color: #f9004c !important;
}
.h0 {
  font-size: 3rem;
  font-weight: 900;
}
p {
  font-size: 1.4rem;
}
.w-85 {
  width: 85% !important;
}
.search-project {
  border-radius: 20px;
}
.search-project ul {
  padding: 1.5rem 0;
}
.search-project ul li {
  list-style: none;
  float: left;
  margin: 0 1.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
}
.search-project ul li:hover {
  border-bottom: 3px solid #f9004c;
}
#img-logo {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: 1px solid #e9e8e8;
  padding: 10px;
}
