<section class="resume-card w-100 mb-5">
    <div class="header-card w-100 border border-primary d-flex flex-row justify-content-between">
        <div class="image d-none d-md-flex col-md-4 justify-content-center">
            <img class="w-75" src="../assets/web-portfolio.png" />
        </div>
        <div class="text text-light col-md-8 d-flex justify-content-center flex-column align-items-center">
            <h1>Resume</h1>
            <h2 class="h5-sm">About me</h2>
        </div>

    </div>
    <div class="content-card mt-5">
        <div class="skills ml-3">
            <h3><i class="bi bi-brush mr-4"></i>My Skills</h3>

            <div class="mt-5 w-100 d-flex flex-row justify-content-center">

                <div class="card skills-first col-md-3 mr-2 px-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><img src="./../../../assets/logos/magento-icon.png"
                                class="w-20 mr-3">
                            Magento
                        </li>
                        <li class="list-group-item"><i class="devicon-javascript-plain colored mr-3"></i>
                            JavaScript
                        </li>
                        <li class="list-group-item"><i class="devicon-angularjs-plain colored mr-3"></i>
                            Angular</li>
                        <li class="list-group-item"><i class="devicon-react-original colored mr-3"></i>
                            React
                        </li>
                        <li class="list-group-item"><i class="devicon-php-plain colored mr-3"></i> PHP</li>
                        <li class="list-group-item"><i class="devicon-csharp-plain colored mr-3"></i> C#
                        </li>
                    </ul>
                </div>
                <div class="card skills-second col-md-3 ml-2 px-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="devicon-woocommerce-plain colored mr-3"></i>
                            WooCommerce
                        </li>
                        <li class="list-group-item"><i class="devicon-mysql-plain colored mr-3"></i> MySQL
                        </li>
                        <li class="list-group-item"><i class="devicon-laravel-plain colored mr-3"></i>
                            Laravel
                        </li>
                        <li class="list-group-item"><i class="devicon-java-plain colored mr-3"></i> Java</li>
                        <li class="list-group-item"><i class="devicon-postgresql-plain colored mr-3"></i>
                            PostgreSQL
                        </li>
                        <li class="list-group-item"><i class="devicon-dot-net-plain-wordmark colored mr-3"></i>
                            Asp Net
                            Core</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="courses mt-5 ml-3">
            <h3><i class="bi bi-award mr-4"></i>Courses</h3>
            <div class="carousel w-100 mb-5">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide *ngFor="let item of _certificados">

                        <div class="card-courses d-flex flex-row mb-5 mt-5">
                            <div class="date-card date col-md-3 d-flex justify-content-center align-items-center">
                                <p class="text-center h4">{{item.date}}</p>
                            </div>
                            <div class="text col-md-6 d-flex justify-content-center flex-column align-items-center">
                                <h4 class="text-center mb-1">{{item.name}}</h4>
                                <h5 class="text-center mt-1">SoloLearn</h5>
                                <button (click)="openDialog(item.id)"
                                    class="btn-card btn btn-secondary w-50 mt-1">Certificate</button>
                            </div>
                            <div class="col-md-3">
                                <img class="rounded-circle w-100" src="{{item.logo}}" />
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>

        </div>
        <div class="education ml-3">
            <h3><i class="bi bi-book mr-4"></i>Education</h3>
            <div class="card-history d-flex flex-row mb-5 mt-5">
                <div class="date col-md-3 d-flex justify-content-center align-items-center">
                    <p class="h4">2020 - 2021</p>
                </div>
                <div class="text col-md-9">
                    <h4>Tecnicatura en Programación Universitaria</h4>
                    <h5>Universidad Tecnológica Nacional Argentina</h5>
                    <p>Carrera universitaria de nivel intermedio que reúne en su plan de estudios asignaturas como
                        Programación, Matemática,
                        Inglés, Sistema de Procesamiento de Datos, Estadística, Arquitectura y Sistemas Operativos,
                        Diseño y
                        Administración de
                        Base de Datos y Laboratorio de Computación.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="working ml-3 pb-5">
        <h3 class="mb-5 mt-5"><i class="bi bi-briefcase mr-4"></i>Working Experience</h3>
        <div class="card-history d-flex flex-row mb-5">
            <div class="date col-md-3 d-flex justify-content-center align-items-center">
                <p class="h4">2021 - Present</p>
            </div>
            <div class="text col-md-9">
                <h4>Full Stack Developer</h4>
                <h5>Municipalidad San Miguel de Tucumán, Argentina</h5>
                <p>Desarrollo de software en entidad gubernamental, Desarrollo Web, Back End, Front End. Tecnologías
                    como Asp .NET Core, ReactJS, Java, Bootstrap, Spring Boot. Deploy de proyectos en servidores Windows
                    y Linux. Control de incidencias.
                </p>
            </div>
        </div>
        <div class="card-history d-flex flex-row mb-5">
            <div class="date col-md-3 d-flex justify-content-center align-items-center">
                <p class="h4">2010 - Present</p>
            </div>
            <div class="text col-md-9">
                <h4>Freelancer Web Developer</h4>
                <h5>Freelance</h5>
                <p>Desarrollo de proyectos como Freelancer desde el año 2010. Implementando tecnologías como HTML, CSS,
                    PHP, JavaScript, bases de datos PostgreSQL, Microsoft Server SQL y MySQL, y desarrollo frameworks
                    como Laravel y Angular. Control de evolución de métricas de sitios web, SEO, Google Analytics,
                    Semrush. Manejo de CMS como WordPress y plataformas eCommerce como WooCommerce.</p>
            </div>
        </div>
    </div>
</section>