.w-20 {
  width: 20% !important;
}
.resume {
  min-height: 1000px;
}
.card-history .date p {
  font-size: 1.6rem;
}
.skills ul li {
  list-style: none;
}
.skills ul li i {
  font-size: 40px;
}
.item-card {
  position: relative !important;
  width: 100%;
  height: 100%;
  display: block;
}

.card-history p {
  font-size: 1.2rem !important;
}
.list-group-item:hover {
  background-color: aliceblue;
}

.resume-card {
  border-radius: 20px;
  box-shadow: 0 15px 25px 0 rgb(0 0 0 / 10%);
  min-height: 100vh;
}
.header-card {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  min-height: 30vh;
  background-color: #2196f3;
  background-image: url("./../../../assets/header-bg.png");
  background-size: 100%;
}

@media (max-width: 990px) {
  .skills-first,
  .skills-second {
    max-width: 50%;
    flex: 50%;
  }
}
@media (max-width: 777px) {
  .date-card {
    display: none !important;
  }
  .btn-card {
    width: 100% !important;
  }
  .card-history {
    flex-direction: column !important;
  }
}
