<section class="resume mt-5 text-light">
    <h2 class="text-center">Resume</h2>
    <div class="skills">


        <h3><i class="bi bi-brush mr-4"></i>My Skills</h3>
        <div class="row mt-5 d-flex justify-content-center">
            <div class="skills-first col-md-3">
                <ul>
                    <li><i class="devicon-html5-plain-wordmark colored mr-3"></i> HTML5/CSS3</li>
                    <li class="mt-1"><i class="devicon-javascript-plain colored mr-3"></i> JavaScript</li>
                    <li class="mt-1"><i class="devicon-angularjs-plain colored mr-3"></i> Angular</li>
                    <li class="mt-1"><i class="devicon-react-original colored mr-3"></i> React</li>
                    <li class="mt-1"><i class="devicon-php-plain colored mr-3"></i> PHP</li>
                    <li class="mt-1"><i class="devicon-csharp-plain colored mr-3"></i> C#</li>
                </ul>
            </div>
            <div class="skills-second col-md-3">
                <ul>
                    <li><i class="devicon-java-plain colored mr-3"></i> Java</li>
                    <li  class="mt-1"><i class="devicon-mysql-plain colored mr-3"></i> MySQL</li>
                    <li  class="mt-1"><i class="devicon-laravel-plain colored mr-3"></i> Laravel</li>
                    <li  class="mt-1"><i class="devicon-mongodb-plain colored mr-3"></i> MongoDB</li>
                    <li  class="mt-1"><i class="devicon-postgresql-plain colored mr-3"></i> PostgreSQL</li>
                    <li  class="mt-1"><i class="devicon-dot-net-plain-wordmark colored mr-3"></i> Asp Net Core</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="courses mt-5">
        <h3><i class="bi bi-award mr-4"></i>Courses</h3>
        <p-carousel [value]="_certificados" [numVisible]="1" [numScroll]="1" [responsiveOptions]="responsiveOptions"
            [autoplayInterval]="3000" [circular]="true">
            <ng-template class="item-card" let-certificado pTemplate="item">
                <div class="card-courses d-flex flex-row mb-5 mt-5">
                    <div class="date-card date col-md-3 d-flex justify-content-center align-items-center">
                        <p class="text-center">{{certificado.date}}</p>
                    </div>
                    <div class="text col-md-6 d-flex justify-content-center flex-column align-items-center">
                        <h4 class="text-center mb-1">{{certificado.name}}</h4>
                        <h5 class="text-center mt-1">SoloLearn</h5>
                        <button (click)="openDialog(certificado.id)" class="btn-card btn btn-secondary w-50 mt-1">Certificate</button>
                    </div>
                    <div class="col-md-3">
                        <img class="rounded-circle w-100" src="{{certificado.logo}}" />
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
    <div class="working">
        <h3 class="mb-5 mt-5"><i class="bi bi-briefcase mr-4"></i>Working Experience</h3>
        <div class="card-history d-flex flex-row mb-5">
            <div class="date col-md-3 d-flex justify-content-center align-items-center">
                <p>2021 - Present</p>
            </div>
            <div class="text col-md-9">
                <h4>Full Stack Developer</h4>
                <h5>Municipalidad San Miguel de Tucumán, Argentina</h5>
                <p>Desarrollo de software en entidad gubernamental, Desarrollo Web, Back End, Front End. Tecnologías como Asp .NET Core, ReactJS, Java, Bootstrap, Spring Boot. Deploy de proyectos en servidores Windows y Linux. Control de incidencias.
                </p>
            </div>
        </div>
        <div class="card-history d-flex flex-row mb-5">
            <div class="date col-md-3 d-flex justify-content-center align-items-center">
                <p>2010 - Present</p>
            </div>
            <div class="text col-md-9">
                <h4>Freelancer Web Developer</h4>
                <h5>Freelance</h5>
                <p>Desarrollo de proyectos como Freelancer desde el año 2010. Implementando tecnologías como HTML, CSS, PHP, JavaScript, bases de datos PostgreSQL, Microsoft Server SQL y MySQL, y desarrollo frameworks como Laravel y Angular. Control de evolución de métricas de sitios web, SEO, Google Analytics, Semrush. Manejo de CMS como WordPress y plataformas eCommerce como WooCommerce.</p>
            </div>
        </div>
    </div>
    <div class="education">
        <h3><i class="bi bi-book mr-4"></i>Education</h3>
        <div class="card-history d-flex flex-row mb-5 mt-5">
            <div class="date col-md-3 d-flex justify-content-center align-items-center">
                <p>2020 - 2021</p>
            </div>
            <div class="text col-md-9">
                <h4>Tecnicatura en Programación Universitaria</h4>
                <h5>Universidad Tecnológica Nacional Argentina</h5>
                <p>Carrera universitaria de nivel intermedio que reúne en su plan de estudios asignaturas como Programación, Matemática,
                Inglés, Sistema de Procesamiento de Datos, Estadística, Arquitectura y Sistemas Operativos, Diseño y Administración de
                Base de Datos y Laboratorio de Computación.</p>
            </div>
        </div>
    </div>
</section>